@charset "UTF-8";

/*estilos para impressoras*/

*{
    margin: 10;
    padding: 10;
}

html{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
}

menu{
    display: none;
}

article::after {
    content: 'esse artigo é impresso';
}

article{
    width: 100%;
}