@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: 75px 50px 300px 50px;
    grid-template-columns: 150px 300px 150px;
}

div.topo{
    text-align: center;
    background-color: lightblue;
    grid-area: 1 / 1 / 2 / 4;
}

div.menu{
    text-align: center;
    background-color: lightgreen;
    grid-area: 2 / 1 / 3 / 4;
}

div.principal{
    text-align: center;
    background-color: red;
    grid-area: 3 / 1 / 4 / 3;
}

div.secundario{
    text-align: center;
    background-color: lightgray;
    grid-area: 3 / 3 / 4 / 4;
}

div.rodape{
    text-align: center;
    background-color: lightsalmon;
    grid-area: 4 / 1 / 5 / 4;
}